Footer {
    background-color: #700e0f;
    margin-top: auto;
    min-height: 50px;
    max-height: fit-content;
}

.pFooter {
    color: blanchedalmond;
    padding-left: 30px;
    letter-spacing: 2px;
    text-align: center;
}

.telefono, .mail, .instagram {
    background-color: white;
    color: #700e0f;
    width: 30px;
    height: 30px;
    padding: 3px;
    border-radius: 3px;
}

.spnTelefono {
    color: white;
}

.mailA {
    text-decoration: none;
    color: white;
}

.mailA:hover {
    text-decoration: none;
    color: white;
}

.instagram:hover {
    transform: scale(1.2, 1.2);
}

.facebook:hover {
    transform: scale(1.2, 1.2);
}

.mail:hover {
    transform: scale(1.2, 1.2);
}

.telefono:hover {
    transform: scale(1.2, 1.2);
}