
#contGalria{
    display: flex;
}

h1{
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
}
p{
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
}

#galeria{
    margin: 100px;
}


.art{
    margin: 20px;
}