.contFormPago {
  text-align: center;
  margin-bottom: 20px;
}

.inputForm {
  display: block;
  padding: 10px;
  width: 70%;
  margin-bottom: 10px;
  border-left: solid 1px transparent;
  border-right: solid 1px transparent;
  border-top: solid 1px transparent;
  border-bottom: solid 1px grey;
  margin-right: auto;
  margin-left: auto;
}

::placeholder {
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  letter-spacing: 3px;
}

.contForm {
  width: 70%;
}

.btnPagar {
  min-width: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
}

.tituloCompra {
  padding: 20px;
  color: #700e0f;
  font-family: 'Bebas Neue', cursive;
  margin-right: auto;
  margin-left: auto;
}

:root {
  --light: rgba(255, 255, 255, 0.835);
  --dark: #700e0f;
  --text: #700e0f;
}

;
.mError {
  padding: 20px !important;
  text-align: center !important;
  margin-right: auto !important;
  margin-left: auto !important;
  color: #700e0f !important;
}

.compraCorrecta {
  margin-left: auto;
  margin-right: auto;
}

.checkIcon {
  font-size: 50px;
  color: green;
}

.compraCorrecta {
  display: inline-block;
  width: 100%;
  height: 350px;
}

.mensaje1 {
  font-size: 30px;
}

.mensaje2 {
  font-size: 25px;
}

.mensaje3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

/*BOTON PAGAR*/

.btnPagar {
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  background: #fbefef;
  border: 2px solid #ff5153;
  border-radius: 0.75em;
  transform-style: preserve-3d;
  letter-spacing: 3px;
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
}

.btnPagar::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(0, 0.75em, -1em);
  transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

.btnPagar:hover {
  background: #a12424;
  transform: translate(0, 0.25em);
}

.btnPagar:hover::before {
  box-shadow: 0 0 0 2px #be2d2d, 0 0.5em 0 0 #bd403c;
  transform: translate3d(0, 0.5em, -1em);
}

.btnPagar:active {
  background: #e64242;
  transform: translate(0em, 0.75em);
}

.btnPagar:active::before {
  box-shadow: 0 0 0 2px #722424, 0 0 #831e1b;
  transform: translate3d(0, 0, -1em);
}