.contFormPago {
    min-width: 800px;
    min-height: 450px;
    text-align: center;
}

.inputForm {
    display: block;
    padding: 5px;
    width: 100%;
    margin-bottom: 7px;
}

.contForm {
    width: 50%;
}

/*
.btnPagar {
   min-width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}*/

.tituloCompra {
    padding: 20px;
    color: #700e0f;
    font-family: 'Bebas Neue', cursive;
    
}


:root {
  --light: rgba(255, 255, 255, 0.835);
  --dark: #700e0f;
  --text: #700e0f;
};

  
.btnPagar {
  display: block;
  cursor: pointer;
  outline: none;
  border: none #700e0f;
  background-color: var(--light);
  width: 200px;
  height: 50px;
  border-radius: 30px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text);
  background-size: 100% 100%;
  box-shadow: 0 0 0 7px var(--light) inset;
  margin-bottom: 15px;
  }
  
  .btnPagar:hover {
    background-image: linear-gradient(
      145deg,
      transparent 10%,
      var(--dark) 10% 20%,
      transparent 20% 30%,
      var(--dark) 30% 40%,
      transparent 40% 50%,
      var(--dark) 50% 60%,
      transparent 60% 70%,
      var(--dark) 70% 80%,
      transparent 80% 90%,
      var(--dark) 90% 100%
    );
    animation: background 3s linear infinite;
  }
  
  @keyframes background {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 400px 0;
    }
  }

  