.cartP{
    text-align: center;
    font-size: 20px;
    min-height: auto;
    padding-top: 20px;
}

.cartContenedor{
    align-items: center;
    text-align: center;
}

.cartP{
    align-items: center;
    text-align: center;
    
}