.cartTitulo {
    text-align: center;
    font-size: 30px;
    color: #700e0f;
    min-height: auto;
    padding: 20px 0;
    border-bottom: solid 2px gray;
}

.cartContenedor {
    align-items: center;
    text-align: center;
    min-height: 400px;
    margin-bottom: 50px;
    
}

.contCartPadre {
    
    border-bottom: 2px grey solid;
    width: 60%;
    margin: 10px auto;
    overflow: hidden;
    padding: 30px;
}

.cartP {
    align-items: center;
    text-align: center;
}

.NombreProd {
    display: inline;
    padding: 5px;
    font-size: 25px;
    color: #700e0f;
    margin: auto 0px;
}

.fotoCart {
    height: 40%;
}

.cantProdCart {
    font-size: 20px;
    color: #700e0f;
    margin: auto 0px;
}

.carHome {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: 'Bebas Neue', cursive;
    padding: 3px 4px;
    margin: 5px;
}

.carHome:hover {
    text-decoration: none;
    border: solid #700e0f 2px;
    color: #700e0f;
}

.muestraTotal {
    margin: 20px;
}

.btnFinCompra {
    padding: 10px;
    border: solid 2px #700e0f;
    color: #700e0f;
    text-decoration: none;
}

.btnFinCompra:hover {
    background-color: #700e0f;
    color: white;
    text-decoration: none;
}

.precio {
    margin: auto 0px;
}

.fotoCart {
    width: 100%;
    height: 100px;
    
}

.figureCart {
    width: 100%;
    height: 100%;
    margin: auto 0px;
}

.borrarCart {
    margin: auto 0px;
    border: solid 1px transparent;
    background-color: transparent;
    
}

.btnBorrarCart{
    width: 22px;
    height: 25px;
}
