
#contGalria{
    display: flex;
}

h1{
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Bebas Neue', cursive;
}
h2{
    font-size: 16px;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
}