nav ul li {
    list-style: none;
}

li {
    text-align: center;
    text-decoration: none;
}

li:hover {
    text-decoration: none;
    color: black !important;
    transform: scale(1.2, 1.2) !important;
}

.nav-item {
    color: rgb(243, 223, 223) !important;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    letter-spacing: 4px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms;
}

.nav-item:hover {
    text-decoration: none;
    color: black !important;
}

.menu_item {
    margin-top: 10px;
    font-family: 'Bebas Neue', cursive;
    color: rgb(243, 223, 223) !important;
    transition: all 500ms;
}

.menu-item:hover {
    transform: scale(1.2, 1.2) !important;
}

nav {
    align-items: center;
}

.icono {
    color: white;
}

.icono:hover {
    color: black;
}

.main_nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
}

.cabezal {
    background-color: #700e0f;
    padding-bottom: auto;
    padding-top: 10px;
}