nav ul li {
    list-style: none;
}

li {
    text-align: center;
    text-decoration: none;
}

li:hover {
    text-decoration: none;
    color: black !important;
}

.nav-item, .menu-item {
    text-decoration: none;
    color: rgb(243, 223, 223) !important;
    font-family: 'Hind Guntur', sans-serif;
    text-align: center;
    text-decoration: none;
}

.nav-item:hover {
    text-decoration: none;
    color: black !important;
}

nav {
    align-items: center;
}

.menu_item {
    position: relative;
    color: white;
}

.icono {
    color: white;
}

.icono:hover {
    color: black;
}

.menu_item-span {
    position: absolute;
}

.main_nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7px;
}

.cabezal {
    background-color: #700e0f;
    padding-bottom: auto;
    padding-top: 10px;
}

.close {
    display: none;
}

.open {
    display: block;
}

.navCart {
    position: relative;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.cant {
    position: absolute;
    bottom: 10px;
}

.widgetCart {
    background-color: black;
    opacity: 0.5;
    position: fixed;
    right: 20px;
    top: 75px;
    height: fit-content;
    width: fit-content;
    text-align: center;
    z-index: 10;
}

.btnCerrar {
    
    border: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-bottom: 9px;
    margin-right: 15px;
}

.btnCerrar:hover {
    background-color: white;
    color: #ce0c0f;
}

.carrito {
    color: antiquewhite;
    letter-spacing: 2px;
    margin-top: 15px;
    font-family: 'Bebas Neue', cursive;
    z-index: 20;
    text-decoration: underline;
    font-size: 20px;
}

.verCarrito {
    display: inline-block;
    border: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-bottom: 11px;
    background-color: white;
    width: 60px;
    height: 31.5px;
    margin: 15px;
    text-decoration: none;
    z-index: 15;
    color: black;
}

.verCarrito:hover {
    text-decoration: none;
    color: #ce0c0f;
}

.produ {
    color: white;
    display: inline;
}

.cantIndividual {
    color: red;
    display: inline;
    font-size: 20px;
    padding: 5px;
    position: absolute;
    right: 40px;
}

.contenedorWid{
    text-align: left;
    padding: 0 15px;
    position: relative;
}
.borrar{
    display: inline;
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 10px;
    
}

.mensajeCart{
    color: white;
    padding: 10px;
}